.table{
    table-layout: fixed;
    width: 600px;
    border-collapse: collapse;
    border: 2px solid black;
}

.tableHItem{
    border: 2px solid black;
}

.tableH{
    color: #fff;
    background-color: rgb(38, 39, 39);
}

.paired{
    background-color: #fff;
}

.unPaired{
    background-color: #767373;
}

